<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Css -->
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/about-us/styles.css">

    <!-- Fontawsome -->
    <script src="https://kit.fontawesome.com/28f40304a9.js" crossorigin="anonymous"></script>

    <title>Document</title>
</head>

<body>
    {{>navbar}}
    <hr>
    <div class="About_us">
        <div>
            <img class="About_img" src="https://wallpaperaccess.com/full/2358938.jpg" alt="">
        </div>

        <div class="about-section">
            <!-- <h1>About Us Page</h1> -->
            <p>Care and Share, an NGO for poor child education, is an NGO in India directly benefitting over 15,00,000
                children and their families every year, through more than 400 live welfare projects on education,
                healthcare, livelihood and women empowerment, in over 2000 remote villages and slums across 25 states of
                India.</p>
            <br>
            <p>Education is both the means as well as the end to a better life: the means because it empowers an
                individual to earn his/her livelihood and the end because it increases one's awareness on a range of
                issues – from healthcare to appropriate social behaviour to understanding one's rights – and in the
                process help him/her evolve as a better citizen.</p>
            <br>
            <p>Doubtless, education is the most powerful catalyst for social transformation. But child education cannot
                be done in isolation. A child will go to school only if the family, particularly the mother, is assured
                of healthcare and empowered. Moreover, when an elder sibling is relevantly skilled to be employable and
                begins earning, the journey of empowerment continues beyond the present generation.</p>

        </div>
    </div>

    <hr>
    <h2 class="after_content">Founder</h2>
    <div class="founder_details">
        <div class="cards">
            <img class="person_img" src="image/about-us/img1.png" alt="founder_image">
            <h2 class="founder_name">Name of Founder</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, reprehenderit. Lorem ipsum dolor sit
                amet consectetur adipisicing elit. Consequuntur cumque eos blanditiis numquam omnis delectus. Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Illo, quaerat! Lorem ipsum dolor </p>
            <a href="https://en-gb.facebook.com/?login" target="_blank"> <img class="social_platform" src="image/about-us/facebook.png"
                    alt="facebook"></a>
            <a href="https://twitter.com/" target="_blank"> <img class="social_platform" src="image/about-us/twitter.png"
                    alt="facebook"></a>
            <a href="https://www.instagram.com/" target="_blank"> <img class="social_platform" src="image/about-us/instagram.png"
                    alt="facebook"></a>
            <a href="https://www.linkedin.com/" target="_blank"> <img class="social_platform" src="image/about-us/linkedin.png"
                    alt="facebook"></a>
        </div>
        <div class="cards">
            <img class="person_img" src="image/about-us/img1.png" alt="founder_image">
            <h2 class="founder_name">Name of Founder</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, reprehenderit. Lorem ipsum dolor sit
                amet consectetur adipisicing elit. Consequuntur cumque eos blanditiis numquam omnis delectus. Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Illo, quaerat! Lorem ipsum dolor </p>
            <a href="https://en-gb.facebook.com/?login" target="_blank"> <img class="social_platform" src="image/about-us/facebook.png"
                    alt="facebook"></a>
            <a href="https://twitter.com/" target="_blank"> <img class="social_platform" src="image/about-us/twitter.png"
                    alt="facebook"></a>
            <a href="https://www.instagram.com/" target="_blank"> <img class="social_platform" src="image/about-us/instagram.png"
                    alt="facebook"></a>
            <a href="https://www.linkedin.com/" target="_blank"> <img class="social_platform" src="image/about-us/linkedin.png"
                    alt="facebook"></a>
        </div>
        <div class="cards">
            <img class="person_img" src="image/about-us/img1.png" alt="founder_image">
            <h2 class="founder_name">Name of Founder</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, reprehenderit. Lorem ipsum dolor sit
                amet consectetur adipisicing elit. Consequuntur cumque eos blanditiis numquam omnis delectus. Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Illo, quaerat! Lorem ipsum dolor </p>
            <a href="https://en-gb.facebook.com/?login" target="_blank"> <img class="social_platform" src="image/about-us/facebook.png"
                    alt="facebook"></a>
            <a href="https://twitter.com/" target="_blank"> <img class="social_platform" src="image/about-us/twitter.png"
                    alt="facebook"></a>
            <a href="https://www.instagram.com/" target="_blank"> <img class="social_platform" src="image/about-us/instagram.png"
                    alt="facebook"></a>
            <a href="https://www.linkedin.com/" target="_blank"> <img class="social_platform" src="image/about-us/linkedin.png"
                    alt="facebook"></a>
        </div>
    </div>
    <hr>
    {{>footer}}
</body>

</html>