<section id="contact">
        <div class="block">
            <div class="containerInfo">
                <div>
                    <h2>Contact Info</h2>
                    <ul class="info">
                        <li>
                            <span>
                                <img src="image/index/contactUs/placeholder.png" alt="abc">
                            </span>
                            <span>
                                Vidyalankar Institute Of Tecnology <br>
                                Wadala(E) <br>
                                400037
                            </span>
                        </li>

                        <li>
                            <span>
                                <img src="image/index/contactUs/email.png" alt="">
                            </span>
                            <span>vidyalankar@edu.in</span>
                        </li>

                        <li>
                            <span>
                                <img src="image/index/contactUs/phone-book.png" alt="">
                            </span>
                            <span>+91 22 2416 11 26</span>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="contactForm">
                <h2>Send a Message</h2>

                <div class="formBox">
                    <div class="inputBox w50">
                        <input type="text"  required>
                        <span>First Name</span>
                    </div>
            
                    <div class="inputBox w50">
                        <input type="text" required>
                        <span>Last Name</span>
                    </div>
                </div>

                <div class="formBox">
                    <div class="inputBox w50">
                        <input type="email" required>
                        <span>E-mail</span>
                    </div>
               
                    <div class="inputBox w50">
                        <input type="text" required>
                        <span>Mobile Number</span>
                    </div>
                <!-- </div> -->

                <div class="inputBox w100">
                    <textarea required></textarea>
                    <span>Write your message here...</span>
                <!-- </div> -->

                <div class="inputBox w100">
                    <input type="Submit" value="Send">
                <!-- </div> -->
            </div>

        </div>
    </section>