<footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Company</h4>
                    <ul>
                        <li> <a href="#">About Us</a></li>
                        <li> <a href="#">Our service</a></li>
                        <li> <a href="#">privacy policy</a></li>
                        <li> <a href="#">affilate program</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li> <a href="#">FAQ</a></li>
                        <li> <a href="#">shipping</a></li>
                        <li> <a href="#">retrurns</a></li>
                        <li> <a href="#">payment options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow Us</h4>
                    <div class="social-links">
                        <a href="#"> <i class="fab fa-facebook-f"></i></a>
                        <a href="#"> <i class="fab fa-twitter"></i></a>
                        <a href="#"> <i class="fab fa-instagram"></i></a>
                        <a href="#"> <i class="fab fa-linkedin-in"></i></a>
                    </ul>
                </div>

            </div>
            <div class="footer-col">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15088.003602212737!2d72.84980803728104!3d19.01968198362824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cf23e33b414f%3A0x27c485f4bd033e29!2sAcworth%20Municipal%20Hospital%20For%20Leprosy%2C%20Major%20R%20Parameswaran%20Rd%2C%20Wadala%2C%20Mumbai%2C%20Maharashtra%20400031!5e0!3m2!1sen!2sin!4v1628596916810!5m2!1sen!2sin" width="300" height="250"  style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </footer>