<header>
    <a class="home" href="/"><img class="icon" src="image/icon.webp" alt="icon image"></a>

    <nav class="header">
        <ul class="nav_bar">
            <li class="item"><a href="about-us">About Us</a></li>
            <li class="item"><a href="volunteer">Volunteering</a></li>
            <li class="item"><a href="login" target="_blank">Login/Signup</a></li>
        </ul>
    </nav>
    <a href="donation"><button>Donate Now</button></a>

</header>